body{
    font-family: Verdana
}

#contenitore {
    width: 80vw;
    height: 60vh;
    margin-top: 35px;
    margin-left: 10vw;
}

#messaggi {
    background-image: url("../img/bg.png");
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 100%;
    height: 80%;
    overflow-y: scroll;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

input, button {
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
}

input {
    width: 80%;
}

p{
    padding: 10px;
    width: fit-content;
    border-radius: 10px;
    max-width: 60%;
}

br{
    user-select: none;
}

.utente{
    margin-left: auto;
    background-color: mintcream;
    border: 1px solid rgb(87, 153, 122);
}

.altri{
    margin-right: auto;
    background-color: aliceblue;
    border: 1px solid rgb(129, 164, 193);
}

b, i{
    font-size: 12px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

button:hover{
    background-color: #246426;
}

#logout{
    width: 40px;
    background-color: rgb(252, 72, 72);
    background-image: url(../img/logout.png);
    background-size: 100% 100%;
}

#immagineAspetto{
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

#immagineAspetto:hover{
    background-color: #246426;
}

#invia, #immagineAspetto{
    width: 65px;
    height: 40px;
}

#cambiaP{
    padding: 0;
    font-size: 15px;
    cursor: pointer;
    color: rgb(252, 72, 72);
}

#cambiaP:hover{
    text-decoration: underline;
    color: red;
}

#email, #password{
    width: 250px;
}

#box{
    width: 50vw;
    height: 100%;
    background-color: #f3f1e9;
    border-radius: 50px;
    padding: 50px;
    border: 1px solid black;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 20px;
  }
  
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey; 
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
border-radius: 10px;
background: #4CAF50;
}

::-webkit-scrollbar-thumb:hover {
background: #246426; 
}